.col-2 {
  background-color: #1e1f22;
}

.col-10 {
  background-color: #2b2d31;
}

.selected {
  background-color: #36373d;
}

ul {
  li:hover {
    background-color: #36373d;
    cursor: pointer;
  }
}
