<section
  class="vh-100 bg-image"
  style="
    background-image: url('../../../../assets/img/bg-epicode.jpg');
    background: cover;
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card border-0 shadow-none">
            <div class="card-body p-5 bg-dark text-light border-0 shadow-none">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form
                #registerForm="ngForm"
                (ngSubmit)="submit(registerForm)"
                class="was-validated"
              >
                <div class="form-outline mb-4">
                  <input
                    name="name"
                    ngModel
                    required
                    type="text"
                    class="form-control form-control-lg"
                  />

                  <label class="form-label" for="form3Example1cg">Nome</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    name="surname"
                    ngModel
                    required
                    type="text"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example1cg"
                    >Cognome</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    name="email"
                    ngModel
                    required
                    type="email"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    name="username"
                    ngModel
                    required
                    type="text"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example3cg"
                    >Username</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    id="password"
                    name="password"
                    ngModel
                    required
                    type="password"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example4cg"
                    >Password</label
                  >
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="!registerForm.valid"
                  >
                    Registrati
                  </button>
                </div>

                <p class="text-center mt-5 mb-0">
                  Have already an account?
                  <a [routerLink]="['/login']" class="fw-bold"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("header").append("<div class='glitch-window'></div>");

  $("h1.glitched").clone().appendTo(".glitch-window");
</script>
