.wi {
  width: 40%;
}
.h {
  height: 50px;
}

.purple {
  color: #781795;
}

nav {
  border-bottom: 1px solid #781795;
}
a:hover{
  text-decoration: underline !important;
  text-decoration-color: rgb(105, 4, 122)!important;
  text-decoration-thickness: 2px !important;
}
