<section>

    <h5 class="text-center text-light mt-2">Best meme's by Group 2</h5>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <video src="" class="" alt="..."></video>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <p class="text-center text-light">Questo video è stato editato dal sig.Manuel Altruda</p>
    <p class="text-center text-light">Tutti i coloro che registreranno questo video a
        scopo non istruttivo saranno instantaneamente querelati</p>


</section>